*{
    margin: 0;
    padding: 0;
    font-family: Inter;
    background: linear-gradient(90deg, rgb(243, 153, 9) 0%, rgb(203, 100, 16) 35%, rgb(250, 31, 19) 100%);
}

h1, p{
    background: none;
    background-color: white;
}

.description{
    border-right: 9px dotted grey;
}

h1{
    margin: 20px 0;
    font-weight: 900;
    font-size: 28px;
}

p{
    color: rgb(80, 79, 79);
    font-size: 15px;
    font-weight: 500;
}

.contentContainer{
    width: 630px;
    height: 200px;
    background: none;
    background-color: white;
    margin: 150px auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 60px 20px;
    position: relative;
}

.textContainer{
    margin-left: 200px;
    background: none;
    background-color: white;
}

.sideBox{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    position: absolute;
    left: -35px;
    top: 50px;
    background: linear-gradient(90deg,rgb(245, 65, 6) 35%, rgb(212, 104, 2) 100%), rgb(220, 15, 4) 0%;
}

button{
    border: none;
    cursor: pointer;
    color: white;
    height: 35px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    padding: 0px 20px;
    margin: 20px 0;
}