*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: antiquewhite;
    height: 700px;
    width: 100%;
}
.content-wrapper{
    border: 2px solid red;
    margin: 0 auto;
    width: 300px;
    background-color: white;
}

.header-text{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}
.rowtext{
    padding: 5px 10px;
}