*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

.cardContainer{
    margin: 150px auto;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    background-color: white;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contentPanel{
    padding: 25px 50px;
}
.antImage{
    width: 220px;
}

.boyIcon{
    color: white;
    background-color: green;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    /* border: 9px solid whitesmoke; */
    position: absolute;
    left: 165px;
}

.workTitle{
    margin: 30px 0;
    text-align-last: end;
    font-size: 15px;
    font-weight: 900;
    color: green;
}

.iconsWrap{
    display: flex;
    justify-content: center;
    gap: 55px;
    padding: 10px 0;
}

.ionicon{
    height: 40px;
    width: 40px;
    color: rgb(98, 206, 103);
    fill: rgb(98, 206, 103);
}

h1{
    margin: 20px 0;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -1px;
}

.roleDescription{
    font-size: 15px;
    font-weight: 500;
}